
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Walter+Turncoat&display=swap');

*{
  background-color: 	 #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}




.searchBox{
  width: 80vw;
  background-color: #c9d7e9;
  padding: 50px 12px;
  border-radius: 13px;
  margin: auto;
  position: relative;
}

span{
  cursor: pointer;
}

/* .jobdivpadding{
  padding: 14px 36px;
  gap: 5px;
} */


.footer{
  width: 90%;
  margin: auto;
}